<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="clientID" value="mbc5l1llrr" />
    <add key="clientSecret" value="d2an41nwgr7uhrel9k29itz9z077y5l1bzveniy7u85p6vdf" />
    <add key="redirectUri" value="http://localhost:8380/default.aspx" />
    <add key="redirectAdminUri" value="http://localhost:8380/changeLogin.aspx" />
    <add key="inBloomBaseOAuth" value="https://api.sandbox.inbloom.org/api/oauth" />
    <add key="inBloomBaseAPI" value="https://api.sandbox.inbloom.org/api/rest/v1.1" />
    <add key="inBloomLogoutAPI" value="https://api.sandbox.inbloom.org/api/rest/system/session/logout"/>
    <add key="inBloomAcceptHeader" value="application/vnd.slc+json" />
    <add key="inBloomContentTypeHeader" value="application/vnd.slc+json" />

    <add key="ASSITmentsBaseAPI" value="https://test1.assistments.org/api2"/>
    <add key="ASSITmentsAPI_Helper" value="https://test1.assistments.org/api2_helper"/>
  </appSettings>
  
</configuration>
